{% extends 'default/news_base.html.twig' %}

{% block page_head %}
    <div class="row">
        <div class="col-10">
            <h1>{{ "Новости по тегу:"|trans({"%hashTag%": hashTag}) }}</h1>
        </div>
        <div class="col-1">
            <a href="{{ path('homepage') }}" class="btn btn-link backlink">{{ "Вернуться на главную"|trans }}</a>
        </div>
    </div>
{% endblock %}
