{% extends 'default/news_base.html.twig' %}

{% block page_head %}
    <div class="row">
        <div class="col-12">
            <h1>{{ "Главная страница"|trans }}</h1>
        </div>
    </div>
{% endblock %}


