{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                {% block page_head %}{% endblock %}
            </div>
        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col-12">
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                <form action="{{ currentPath }}" class="searchform form-inline">
                    <div class="form-group col-4">
                        <input type="text" class="form-control" name="kw" placeholder="{{ "Поиск..."|trans }}" value="{{ formKw }}" maxlength="40" required/>
                    </div>
                    <div class="form-group col-2">
                        <button type="submit" class="btn btn-primary">{{ "Поиск"|trans }}</button>
                        {% if formKw is not same as('') %}
                            <a href="{{ currentPath }}" class="btn btn-secondary reset">{{ "Сброс"|trans }}</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <hr/>
        <div class="row news">
            <div class="col-8">
                <h4>{{ "Новости"|trans }}</h4>
                {% set groupPublishedAt = null %}
                {% for item in newsPagination %}
                    {% set publishedAt = item.publishedAt|human_date() %}
                    {% if publishedAt is not same as (groupPublishedAt) %}
                        <h6>{{ publishedAt }}:</h6>
                        {% set groupPublishedAt = publishedAt %}
                    {% endif %}
                    <div class="card news-item">
                        <div class="card-body">
                            <p class="card-text">{{ item.content|highlight_kw(kw)|clickable_hashtags|clickable_urls|raw }}</p>
                        </div>
                        <time>{{ item.publishedAt|human_date(true) }}</time>
                        {% for medium in item.media %}
                            <img class="card-img-bottom" src="{{ medium.uri }}" alt=""/>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ "Новостей нет"|trans }}
                {% endfor %}

                <div class="navigation">
                    {{ knp_pagination_render(newsPagination) }}
                </div>
            </div>
            <div class="col-4">
                <h4>{{ "Хештеги"|trans }}</h4>
                {% for item in hashTags %}
                    <a href="{{ path('hashtagpage', {hashTag: item.name}) }}">#{{ item.name }}</a><br/>
                {% else %}
                    {{ "Хештегов нет"|trans }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .searchform .form-group {
            padding: 0;
        }

        .searchform input.form-control {
            width: 100%;
            margin-right: 10px;
        }
        .searchform .reset {
            margin-left: 10px;
        }
        .backlink {
            margin-top: 10px;
        }
        .news-item {
            margin: 10px 0;
            position: relative;
        }
        .news-item .card-body {
            margin-top: 10px;
        }
        .news-item time{
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 8pt;
            color: #aaa;
        }
        .news-item:hover {
            background-color: #fafafa;
        }
        span.highlight {
            background-color: yellow;
        }
    </style>
{% endblock %}
